<h2>Lista de campeones amados en lol</h2>

<ul>
    <li class="midlaner">Leblanc</li>
    <li class="midlaner">Lux</li>
    <li class="toplaner">Teemo</li>
    <li class="toplaner">Jarvan</li>
    <li class="midlaner">Veigar</li>
</ul>